@import '../styles/Variaveis.css';

.home {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(180deg, #fdf0d5, #fff);
}

.home h1 {
  font-size: 2.5rem;
  color: #003049; 
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  color: #222;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}
